[submodule "third_party/msgpackpp/msgpackpp"]
	path = third_party/msgpackpp/msgpackpp
	url = https://github.com/ousttrue/msgpackpp.git
[submodule "_external/NvimTexture/NvimTexture"]
	path = _external/NvimTexture/NvimTexture
	url = https://github.com/ousttrue/NvimTexture.git
